<!-- HTML code for the app component (the main component of the application, where all components are displayed) -->


<h1 class="header">Round Table Tournaments</h1> <!-- temporary app title -->

<app-navigation></app-navigation> <!-- Navigation Component -->
<br> <br>

<div class="spacer"></div>

<router-outlet></router-outlet> <!-- The router outlet is where different components can be displayed, based on the path entered after "localhost:4200/". Default is homepage component -->

<!-- TODO: insert footer component here? -->