

 <div class="field-info">
        <h4>Field Director</h4>
        
</div>
<div class="scoresInput">
        <!-- Input fields for entering scores-->
        <br/>
        <h3 style="text-align: left;">Enter Match Scores</h3>
        <p>This section is used to enter scores for a match.</p>

        <br/>
        <label for="Match_ID" style="text-align: center;">Match ID: </label> 
        <input id ="Match_ID" name="Match_ID" type="text"> <br>
        <label for="home_team">Home Team:  </label> 
        <select name="home_team" id="home_team">
                <option></option> 
                <option value="t1">Team1</option>
                <option value="t2">Team2</option>
                <option value="t3">Team3</option>
                <option value="t4">Team4</option>
                <option value="t5">Team5</option>
                <option value="t6">Team6</option>
        </select> <br>
        <label for="home_team_scores">Home Team Scores:  </label> 
        <input id ="home_team_scores" name="home_team_scores" type="text"> <br>
        <label for="visit_team">Visiting Team:  </label> 
        <select name="visit_team" id="visit_team">
                <option></option> 
                <option value="A">TeamA</option>
                <option value="B">TeamB</option>
                <option value="C">TeamC</option>
                <option value="D">TeamD</option>
                <option value="E">TeamE</option>
                <option value="F">TeamF</option>
        </select> <br>
        
        <label for="visit_team_scores">Visiting Team Scores:  </label> 
        <input id ="visit_team_scores" name="visit_team_scores" type="text"> <br>
        
        <button class="btn">Save</button>
</div>

<br> <br>

<div class="fieldInput">
        <!-- Input fields for entering information about soccer fields-->
        <h3 style="text-align: left;">Enter Field Inforamtion</h3>
        <p>This section is used to add a new soccer field to the tournament.</p>

        <br>

        <h5>Existing Soccer Fields in the Tournament (Name , Size)</h5>

        <div *ngFor='let soccerField of soccerFieldArray'> <b>Field:</b> {{soccerField.fieldNum}} , {{soccerField.fieldSize}}</div>

        <br>

        <label for="field_num">Field Number: </label> 
        <input id ="field_num" name="field_num" type="text"> <br>
        <label for="field_size">Field Size:  </label> 
        <select name="field_size" id="field_size">
                <option></option> 
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
        </select> <br>

        <button class="btn" (click)="saveSoccerFieldButtonClicked()" (click)="clearInputFields()">Save</button>

        <p class="failure-message-box" *ngIf="displaySoccerFieldFailureMessage">Adding soccer field failed. Please make sure all fields are correct and try again.</p>

        <p class="success-message-box" *ngIf="displaySoccerFieldSuccessMessage">Adding soccer field succeeded!</p>
        
        <br> <br> <br> <br>
</div>

