





<div class="generic-info-wrapper">
<h4>Welcome!</h4>

    

       

    <p>Tournament Director Features :(anything that doesn't go under other user's jobs): Edit FAQ page, manage hotels, manage sponsors,etc </p>
     
    <br>
</div>




<div class="footer">
    <a routerLink="/field-director" routerLinkActive="active"> Field Director Admin Page</a>
    
    
</div> 

<div class="footer">
    <a routerLink="/team-director" routerLinkActive="active">  Team Director Admin Page</a>
        
        
</div>

<div class="footer">
    <a routerLink="/referee-director" routerLinkActive="active"> Referee Director Admin Page</a>
    
</div>
