





<div class="generic-info-wrapper">
<h4>Tournament Director</h4>
    
</div>

<br>
<h4 class="footer"> Other Admin Pages: </h4>


<div class="footer">
    <a routerLink="/field-director" routerLinkActive="active"> Field Director Admin Page</a>
    
    
</div> 

<div class="footer">
    <a routerLink="/team-director" routerLinkActive="active">  Team Director Admin Page</a>
        
        
</div>

<div class="footer">
    <a routerLink="/referee-director" routerLinkActive="active"> Referee Director Admin Page</a>
    
</div>
