<!-- Temporary page description -->

<p class="paragraph">This will be the login component. Users will be able to log in to an existing account or sign up for a new one.</p>

<div class="container">
<!-- Input fields for existing account -->
<h3 style="text-align: center;">Log into an existing account</h3>
<br/>
<label for="username" style="text-align: center;">Username: </label> 
<input id ="username" name="username" type="text"> <br>
<label for="password">Password </label> 
<input id ="password" name="password" type="password"> <br>

<button class="btn">Login</button>
<br><br>

<!-- Input fields for creating a new account -->
<h3 style="text-align: center;">Or, create a new account</h3>
<br/>
<label for="newUsername">Username </label> 
<input id ="newUsername" name="newUsername" type="text"> <br>
<label for="email">Email </label> 
<input id ="email" name="email" type="text"> <br>
<label for="newPassword">Password </label> 
<input id ="newPassword" name="newPassword" type="password"> <br>

<button class="btn">Create account</button>
<br><br>
</div>

<!-- This clickable text will link to the homepage component -->
<div class="footer">
<a routerLink="/" routerLinkActive="active">Back to Home</a>
</div>

