<html>
<head>
<title>Login Form</title>
<!-- Include CSS File Here -->
<link rel="stylesheet" href="login.component.css"/>
</head>
<body>
<div class="container">
<div class="main">
<h2>Login Form</h2>
 <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
<label>User Name :</label>
<input type="text" placeholder="Username" formControlName="username">
<label>Password :</label>
<input type="password" placeholder="Password" formControlName="password">
<button type="submit">Login</button>
</form>
</div>
</div>
</body>
</html>
