/* Styling for navigation component */


/* Sytling for nav-wrapper (a div tag class to hold the buttons for navigation). */
.nav-wrapper {
    background-color: rgb(110, 196, 196); /* Note: change this color to visualize the wrappers in the app */
    align-items: center;
    margin: 0 center;
    position: relative;

    /* Used to center nav bar */
    padding-left: 10%; 
    padding-right: 10%;
    max-width: 1000px;
    min-width: 1000px;
}


/* Styling for list elements. */
ul {
    background-color: rgb(110, 196, 196); /* Note: change this color to visualize the wrappers in the app */
    list-style-type: none; /* This attribute removes the bullet points in the list when set to "none" */
    padding: 0px;
    align-items: center;
    margin: 0;
    overflow: hidden;

    /* Used to center nav bar */
    padding-left: 14%;
    
}

/* Styling for list items. */
li {
    float: left; /* TODO: change this????*/
    display: inline;
}

/* Styling for elements with <li> and <a> tags (navigation buttons).  */
li a {
    background-color: rgb(110, 196, 196);
    color: black;
    padding: 15px 20px;
    text-decoration: none; /* This attribute removes the decoration on text. In this case, the underlining of link items */
    display: flex;
}

/* When the user hovers over an element with the tags <li> and <a> (in this app,
*  that means one of the buttons on the navigation bar), the following style
*  will be applied:
*/
li a:hover {
    background-color: grey; 
    color: white; /* Text color */
    border-color: black;
    border-style: solid;
    display: flex;
}

