

<div class="nav-wrapper">
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/results">Results</a></li>
        <li><a routerLink="/field-director">Field Director</a></li>
        <li><a routerLink="/">Placeholder</a></li>
        <li><a routerLink="/referee-director">Referee Director</a></li>
        <li><a routerLink="/">Placeholder</a></li>
        <li><a routerLink="/team-director">TeamDirector</a></li>
        <li><a routerLink="/">Placeholder</a></li>
        <li><a routerLink="/tournament-director">Tournament Director</a></li>
        <li><a routerLink="/login">Login</a></li>
    </ul>
</div>
