<!-- Temporary page description -->

<h1>Tournament Information</h1>

<h4>Important Details</h4>
<p><b>Dates:</b> Friday November 12th through Sunday November 14th</p>
<p><b>Location:</b> TBD </p>
<p><b>Deadline to Register:</b> Friday October 1st</p>
<br>


<h4>Welcome!</h4>
<p> Generic description of the tournament (in paragraph form) can go here. </p>
<br>


<h4>Who Can Play</h4>
<p> TODO: Add age ranges</p>
<br>


<h4>How To Register</h4>
<p> 1. Go to 'Register' in the menu above </p>
<p> 2. Enter team information </p>
<p> 3. Submit payment when prompted </p>
<br>


<h4>Tournament Rules</h4>
<p> TODO: Insert rules</p>
<br>

