<!-- Temporary page description -->

<h2>Tournament Information</h2>
<div class="important-info-wrapper">
    <h4>Important Details</h4>
    <p><b>Dates:</b> Friday November 12th through Sunday November 14th</p>
    <p><b>Location:</b> TBD </p>
    <p><b>Deadline to Register:</b> Friday October 1st</p>
    
</div>

<br>

<div class="generic-info-wrapper">

    <h4>Welcome!</h4>
    <p> Welcome to the first tournament hosted by Round Table Tournaments! We are
        very excited to be hosting this competition of skill, tenacity, and
        sportsmanship. Thank you to all who are interested; please see additional
        information below for more details about the tournament as well as a guide
        on how to register. Hope to see you soon! </p>
    <br>


    <h4>Who Can Play</h4>
    <p> Age groups are as follows: U8, U9, U10, U11, U12, U13, U14, U15, U16,
        U17, U18, 18+, and O48. </p>
    <br>


    <h4>How To Register</h4>
    <p> 1. Go to 'Register' in the menu above </p>
    <p> 2. Enter team information </p>
    <p> 3. Submit payment when prompted </p>
    <br>


    <h4>Tournament Rules</h4>
    <p> TODO: Insert rules (after talking to customer)</p>
    <br>

</div>